<!-- Sidebar -->
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Title -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
    <div class="sidebar-brand-text mx-3">Gestion des incidents informatiques </div>
  </a>

  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <!-- Heading -->
  <!-- Nav Item - Pages Collapse Incidents -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
       aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Incidents</span>
    </a>
    <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="#">Ajouter</a>
        <a class="collapse-item" routerLink="/incident-liste">Visualiser</a>
      </div>
    </div>
  </li>
  <!-- Nav Item - Pages Collapse Users -->
  <li class="nav-item">
    <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
       aria-expanded="true" aria-controls="collapseTwo">
      <i class="fas fa-fw fa-cog"></i>
      <span>Users</span>
    </a>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
      <div class="bg-white py-2 collapse-inner rounded">
        <a class="collapse-item" routerLink="/adduser">Ajouter</a>
        <a class="collapse-item" routerLink="/users">Visualiser</a>
      </div>
    </div>
  </li>
  <!-- Divider -->
  <hr class="sidebar-divider">
  <!-- Heading -->
  <div class="sidebar-heading">
    More
  </div>

  <!-- Nav Item - Test -->
  <li class="nav-item">
    <a routerLink="/test" class="nav-link"><i class="fas fa-fw fa-chart-area"></i> <span>Test</span></a>
  </li>
    <li class="list-inline-item">
      <a routerLink="/messages" class="btn btn-danger">Message</a>
    </li>

</ul>
<!-- End of Sidebar -->
