.nav-tabs{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fa{
    margin-right: 5px;
}
.logout{
  position: fixed;
  bottom: 0;
}
.sidebar{
    position: relative;
    height: 100%;
}