<!-- Sidebar -->
<div class="sidebar">
<ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">
  <!-- Title -->
  <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/incidents">
    <div class="sidebar-brand-text mx-3">Gestion des incidents informatiques </div>
  </a>

  <!------------------------------------Boite Mail -->
  <!-- Divider -->
  <hr class="sidebar-divider my-0">
  <!-- Heading -->
  <h1 class="nav-tabs">Boite Mail</h1>
  <!-- Nav Item - Test -->
  <li class="list-inline-item "  >
    <a routerLink="/compose-mail" class="btn btn-danger nav-tabs"><i class="fa fa-plus-circle" aria-hidden="true"></i><span>Nouveau Message</span></a>
  </li>
  <li class="nav-item">
    <a routerLink="/boite-mail" class="nav-link " ><i class="fas fa-envelope fa-fw" aria-hidden="true"></i><span class="badge badge-danger badge-counter">7</span><span>Boite de récéption</span></a>
  </li>
  <li class="nav-item">
    <a routerLink="/test" class="nav-link"><i class="fa fa-paper-plane" aria-hidden="true"></i><span>Message Envoyé</span></a>
  </li>
  <ng-container *ngIf="isAdmin ;then contenuForAdmin else contentForNoAdmin "> partie Admin ou bien le technicien</ng-container>
  <ng-template #contenuForAdmin>
    <!------------------------------------More functions: for administrator: list users... -->
    <hr class="sidebar-divider">
    <!-- Nav Item - Pages Collapse Users -->
    <li class="nav-item">
      <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo"
         aria-expanded="true" aria-controls="collapseTwo">
        <i class="fas fa-fw fa-cog"></i>
        <span>Utilisateurs</span>
      </a>
      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
        <div class="bg-white py-2 collapse-inner rounded">
          <a class="collapse-item" routerLink="/adduser">Ajouter</a>
          <a class="collapse-item" routerLink="/users">Visualiser</a>
        </div>
      </div>
    </li>
  </ng-template>
  <ng-template #contentForNoAdmin>
    <ng-container *ngIf="isTech; then contenuForTech else noTechNoAdmin"></ng-container>
    <!------------this part is for technician. Don't touch it please--------->
    <ng-template #contenuForTech>
      <hr class="sidebar-divider">
      <!-- Heading -->
      <div class="sidebar-heading">
        <a routerLink="/incidents" class="nav-link"><span style="color: #f3a199">Base de connaissances</span></a>
      </div>
      <hr class="sidebar-divider">
      <!-- Heading -->
      <!-- <div class="sidebar-heading">
        A supprimer man hna
      </div> -->
      <!-- Nav Item - Pages Collapse Incidents -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseOne"
           aria-expanded="true" aria-controls="collapseTwo">
          <i class="fas fa-fw fa-cog"></i>
          <span>incidents</span>
        </a>
        <div id="collapseOne" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" routerLink="/AjoutIncident">Ajouter </a>
            <a class="collapse-item" routerLink="/incident-liste">Visualiser</a>
          </div>
        </div>
      </li>
    </ng-template>
    <ng-template #noTechNoAdmin>
    <!-- part of amal and fairouz-->
    </ng-template>
  </ng-template>


   <!-- Footer -->
 

  <li class="list-inline-item "  >
    <a (click)="reloadPage()"  class="btn btn-danger nav-tabs logout"><i class="fa fa-sign-out-alt" aria-hidden="true"></i><span>Déconnexion</span></a>
  </li>
  <!-- End of Footer -->



</ul>
</div>
<!-- End of Sidebar -->
