.nav-tabs{
    display: block;
    margin-left: auto;
    margin-right: auto;
}
.fa{
    margin-right: 5px;
}
.logout{
    display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
  height: 100%;
}