
  <table id="example" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Traité</th>
        <th scope="col">Envoyé à</th>
        <th scope="col">Titre</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody *ngIf="messages" >
      <tr *ngFor="let message of messages"  (click)="goToMail($event,message)" [ngClass]="{'read-oui': message.read == true, 'read-non': message.read == false}" >
        <ng-container *ngIf="message.sender==connectedUser.nom">
        <th  scope="row" >{{ message.id }}</th>
        <td > <span class="traite" [ngClass]="{
          'traite-oui' : message.traite == true,
          'traite-non' : message.traite == false
        }"
        > {{ message.traite }}</span></td>
        <td> <span  class="sender">{{ message.reciever }}</span></td>
        <td> <span  class="titre">{{ message.titre }}</span></td>
        <td> <span  class=" text-muted description">{{ message.description }}</span></td>
        <td> <span class="date">{{ message.date }}</span></td>
        </ng-container>
      </tr>
    </tbody>
  </table>

