
<h1>Les incidents informatiques</h1>
<div class="input-group">
  <input type="text" class="form-control bg-light border-0 small" name="search"
         [(ngModel)]="searchText" autocomplete="off" placeholder="Chercher..."
         aria-label="Search" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button">
      <i class="fas fa-search fa-sm"></i>
    </button>
  </div>
</div>
<div class="row my-3" *ngIf="incidents">
  <ng-container *ngFor="let incident of incidents | filter: searchText">
    <ng-container *ngIf="incident.resolue">
    <div class="col-lg-6 mb-4" >
        <div class="card shadow mb-4">
          <div class="card-header py-3">
            <h6 class="m-0 font-weight-bold {{isResolu(incident.resolue)}}">{{ incident.titre }}</h6>
          </div>
          <div class="card-body">
            <div class="text-center">
              <!--image-->
            </div>
            <p>{{ incident.description }}</p>
            <hr>

            <span class="badge badge-dark">{{ incident.date }}</span>
            <span class="badge badge-warning">{{incident.division}}</span>
            <hr>
            <span class="badge-primary badge "> {{incident.affectedto}} </span>
            <span class="text">  {{ incident.solution }}</span>

          </div>
        </div>
    </div>
    </ng-container>
  </ng-container>
</div>
