
  <div class="wrapper">
    <div class="login">
      <p class="title">Se connecter</p>
      <input type="text" placeholder="Mail" [(ngModel)]="mail" autofocus/>
      <i class="fa fa-user"></i>
      <input type="password" placeholder="Mot de passe"  [(ngModel)]="password" />
      <i class="fa fa-key"></i>
      <a href="#">Mot de passe oublié?</a>
      <button (click)=checkLogin()>
        <i class="spinner"></i>
        <span class="state">Se connecter</span>
      </button>
    </div>
  </div>