<div class="card ">
    <div class="card-header">
      <div class="container">
        <div class="row">
          <div class="col">
            <h2 class="card-title">{{ MailClicked.titre }}</h2>
            <p>Envoyé par: {{ MailClicked.sender }}</p>
            <p>à: {{ MailClicked.receiver }}</p>
          </div>
          <div class="right col col-lg-3">
            <p class="date">{{ MailClicked.date }}</p>
            <p class="traite" [ngClass]="{
                'traite-oui' : MailClicked.traite == true,
                'traite-non' : MailClicked.traite == false
            }"
            > {{ MailClicked.traite }} </p>
          </div>
        </div>
      </div>
    </div>
    <div class="card-body">
      <p class="card-text">{{ MailClicked.description }}</p>
    </div>
    <div class="card-footer text-muted  right">
      <a routerLink="/compose-mail"  class="btn btn-primary">Répondre</a>
      <a routerLink="/compose-mail"  class="btn btn-primary">Envoyer à</a>
    </div>
  </div>
