<div class="card ">
    <div class="card-header  ">
      Titre du Message {{ nbrMailClicked }}
      <div class="right">
      <p class="date">2020/02/15 12:29</p>
      </div>
    </div>
    <div class="card-body">
      <h5 class="card-title">Envoyé par:</h5>
      <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
    </div>
    <div class="card-footer text-muted  right">
      <a href="/compose-mail" class="btn btn-primary">Répondre</a>
      <a href="/compose-mail" class="btn btn-primary">Envoyer à</a>
    </div>
  </div>