.card {
    text-align: left;
}
.card-header{
    display: inline-block;
}
.right{
    text-align: right;
    display: inline-block;
}
.date{
    color: black;
    background-color: rgb(160, 156, 156);
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    display: block;
    text-align: center;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 12px;
}

.btn{
    margin: 10px;
}


.traite{
    color: black;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: block;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 12px;
}
.traite-non{
    background-color: rgb(247, 100, 100);
}
.traite-oui{
    background-color: rgb(79, 250, 102);
}