.card {
    text-align: left;
}
.card-header{
    display: inline-block;
}
.right{
    text-align: right;
}
.date{
    color: black;
    background-color: rgb(160, 156, 156);
    border: none;
    padding: 5px 10px;
    text-decoration: none;
    display: inline;
    font-size: 12px;
    margin: 4px 2px;
    border-radius: 12px;
}

.btn{
    margin: 10px;
}
