<div id="wrapper">
  <!--Sidebar-->
  <app-side-bar *ngIf="isTechnician"></app-side-bar>
  <!--app-login *ngIf="isAuth"></app-login-->


  <!-- Content Wrapper -->
  <div id="content-wrapper" class="d-flex flex-column">
    <!-- Main Content -->
    <div id="content">
      <!-- Topbar -->
      <app-top-bar *ngIf="isAuth"></app-top-bar>

      <!-- Begin Page Content -->
      <div class="container-fluid">
        <!-- Content Row -->
        <div class="row">
          <div class="col-lg-12 mb-4">
            <div class="card shadow mb-4">
              <div class="card-body">
                <div class="text-center">
                  <h1>Gestion des incidents informatiques</h1>
                  <app-login *ngIf="isAuth==false"></app-login>
                  <button (click)="auth()" [disabled]="isAuth" routerLink="incidents" *ngIf="isAuth==false">Authentifier</button>
                  <router-outlet></router-outlet>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>
      <!-- /.container-fluid -->

    </div>
    <!-- End of Main Content -->

    <!-- Footer -->
    <footer class="sticky-footer bg-white">
      <div class="container my-auto">
        <div class="copyright text-center my-auto">
          <span>Copyright &copy; Projet de gestion des incidents informatiques 2021</span>
        </div>
      </div>
    </footer>
    <!-- End of Footer -->

  </div>
  <!-- End of Content Wrapper -->

</div>
<!-- End of Page Wrapper -->
