<h1>Composer votre mail</h1>
<div class="card my-5">
    <div class="card-body">
      <form (ngSubmit)="onSubmit(message)"  #message="ngForm">
        <div class="form-group">
          <label for="titre">Titre de message</label>
          <input type="text"
                 class="form-control"
                 id="titre"
                 required
                 maxlength="50"
                 ngModel
                 name="titre"
                 #titre="ngModel"
                 placeholder="{{ MailClicked.titre }}"
               >
        </div>
        <div [hidden]="!titre.pristine" class="alert alert-danger" *ngIf="titre.touched && titre.invalid">Titre est obligatoire</div>
        <div class="form-group">
          <label for="description">Description</label>
          <textarea
                    cols="20"
                    rows="6"
                 class="form-control"
                 id="description"
                 name="description"
                 placeholder="{{ MailClicked.responses.shift() }}"
                    ngModel
          required
          #description="ngModel"
          ></textarea>
          <div *ngIf="description.touched && description.invalid" class="alert alert-danger">Description est obligatoire</div>
        </div>
        <div  class="form-group">
          <select required
                  ngModel
                  name="receiver"
                  #receiver="ngModel"
                  class="form-control"
                  size="1"
                  *ngIf="receivers" >
            <option value="">Envoyer à </option>

            <option *ngFor="let r of receivers"  [value]="r.valueOf()" >{{r.valueOf()}}</option>

            <div *ngIf="receiver.invalid" class="alert alert-danger">Description est obligatoire</div>
          </select>
        </div>


        <button type="submit"
                class="btn btn-info">Envoyer</button>
      </form>
    </div>
  </div>

