
  <table id="example" class="table table-hover">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Traité</th>
        <th scope="col">Envoyé par</th>
        <th scope="col">Titre</th>
        <th scope="col">Description</th>
        <th scope="col">Date</th>
      </tr>
    </thead>
    <tbody *ngIf="messages" >
      <tr *ngFor="let message of messages._embedded.messages " (click)="goToMail($event,message.id)" >
        <th  scope="row" >{{ message.id }}</th>
        <td > <span class="traite">{{ message.traite }}</span></td>
        <td> <span  class="sender">{{ message.sender }}</span></td>
        <td> <span  class="titre">{{ message.titre }}</span></td>
        <td> <span  class=" text-muted description">{{ message.description }}</span></td>
        <td> <span class="date">{{ message.date }}</span></td>
      </tr>
    </tbody>
  </table>

