<!-- Dropdown - Messages -->
<div class="dropdown-list dropdown-menu dropdown-menu-right shadow animated--grow-in"
     aria-labelledby="messagesDropdown">
  <h6 class="dropdown-header">
    Message Center
  </h6>
  <a class="dropdown-item d-flex align-items-center" href="#">
    <div class="dropdown-list-image mr-3">
      <img class="rounded-circle" src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/VisualEditor_-_Icon_-_Underline-a.svg/1200px-VisualEditor_-_Icon_-_Underline-a.svg.png"
           alt="">
      <div class="status-indicator bg-success"></div>
    </div>
    <div class="font-weight-bold">
      <div class="text-truncate">Hi there! I am wondering if you can help me with a
        problem I've been having.</div>
      <div class="small text-gray-500">Emily Fowler · 58m</div>
    </div>
  </a>
  <a class="dropdown-item d-flex align-items-center" href="#">
    <div class="dropdown-list-image mr-3">
      <img class="rounded-circle" src="https://source.unsplash.com/Mv9hjnEUHR4/60x60"
           alt="">
      <div class="status-indicator bg-success"></div>
    </div>
    <div>
      <div class="text-truncate">Am I a good boy? The reason I ask is because someone
        told me that people say this to all dogs, even if they aren't good</div>
      <div class="small text-gray-500">Chicken the Dog  2w</div>
    </div>
  </a>
  <a class="dropdown-item text-center small text-gray-500" href="#">Read More Messages</a>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js" integrity="sha512-0QbL0ph8Tc8g5bLhfVzSqxe9GERORsKhIn1IrpxDAgUsbBGz/V7iSav2zzW325XGd1OMLdL4UiqRJj702IeqnQ==" crossorigin="anonymous"></script>

