<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">Name</th>
          <th scope="col">Email</th>
          <th scope="col"> Fonction</th>
        </tr>
      </thead>
      <tbody *ngIf="users">
        <tr *ngFor="let user of users._embedded.users">
          <td>{{ user.nom }}</td>
          <td><a>{{ user.email }}</a></td>
          <td>{{user.fonction}}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
