<h1>Gestion des Utilisateurs</h1>
<div class="input-group">
  <input type="text" class="form-control bg-light border-0 small" name="search"
         [(ngModel)]="searchText" autocomplete="off" placeholder="Chercher..."
         aria-label="Search" aria-describedby="basic-addon2">
  <div class="input-group-append">
    <button class="btn btn-primary" type="button">
      <i class="fas fa-search fa-sm"></i>
    </button>
  </div>
</div>
<div class="card my-3">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Nom</th>
          <th scope="col">Email</th>
          <th scope="col">Password</th>
          <th scope="col">Type de compte</th>
          <th scope="col">Division</th>
          <th scope="col">Fonction</th>
          <th scope="col">Modifier</th>
          <th scope="col">Supprimer</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of users | filter:searchText">
          <td>{{ user.id }}</td>
          <td>{{ user.nom }}</td>
          <td><a href="mailto:{{ user.email }}">{{ user.email }}</a></td>
          <td>{{ user.password }}</td>
          <td>{{ user.typeCompte }}</td>
          <td>{{ user.division }}</td>
          <td>{{ user.fonction }}</td>
          <td> <a routerLink="/modify-user" class="btn btn-danger" (click)="updateUser($event,user)">Modifier</a></td>
          <td><a  class="btn btn-danger" (click)="deleteUser(user.id)">Supprimer</a> </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
